# next
.next
.env.local
.env.production
public/env.js

# IDE
.idea
.vscode

# dependencies
node_modules

# testing
coverage

# production
build
dist

# misc
.DS_Store
npm-debug.log
tmp

# Yalc (npm link alternative for local development https://github.com/wclr/yalc)
.yalc
yalc.lock

# build cache
.awcache
.cache
.env

src/graphin

*.log

*.tsbuildinfo
*.eslintcache
