{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"endOfLine": "auto",
	"importOrder": [
		"^@core/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@server/(.*)$",
		"^@ui/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
