@mixin center-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-group($margin) {
  display: flex;

  > :not(:last-child) {
    margin-right: $margin;
  }
}

@mixin flex-group-column($margin) {
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: $margin;
  }
}
